.profile_page1{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.profile_page1 .col-left1{
  max-width: 400px;
  min-width: 300px;
  padding: 0 10px;
  margin: auto;
}

.profile_page1 .col-left1 .avatar1{
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}
.profile_page1 .col-left1 img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.profile_page1 .col-left1 .avatar1 span{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff8;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(125, 118, 143);
  transition: 0.3s ease-in-out;
}
.profile_page1 .col-left1 .avatar1:hover span{
  bottom: -15%;
}
.profile_page1 .col-left1 #file_up{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.profile_page1 .col-left1 h2{
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: rgb(57, 223, 107);
  margin: 10px 0;
}
.profile_page1 .col-left1 label{
  display: block;
  margin-top: 5px;
}
.profile_page1 .col-left1 input{
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: none;
  outline: none;
  background: rgb(118, 177, 131);
  padding: 0 5px;
}
.profile_page1 .col-left1 button{
  background: rgb(182, 88, 88);
  color: white;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 10px 0;
}

/* ----------- Col Right----------- */
.profile_page1 .col-right1{
  padding: 0 10px;
  flex: 1;
  min-width: 300px;
}
.profile_page1 .col-right1 h2{
  font-size: 1.7rem;
  text-transform: uppercase;
  color: rgb(78, 201, 150);
  margin: 10px 0;
}

/* ------------ Table------------ */
.customers1{
  border-collapse: collapse;
  width: 100%;
}
.customers1 td,
.customers1 th{
  border: 1px solid #ddd;
  padding: 8px;
  min-width: 100px;
}
.customers1 tr:nth-child(even){
  background: #f2f2f2;
}
.customers1 th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: rgb(67, 159, 221);
  color: white;
}

